liste_1 = [4,5,6,9,85,23,65,47,32,91] listenin en küçük ve en büyük elemanını min ve max fpnksiyonu kullanmadan bulun. sort fonk da kullanmayın. while ile min değeri for ile max değeri bulun.

In [14]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

x = 0

min_deger = liste_1[0]
i = 0
while i < len(liste_1):
    if liste_1[i] < min_deger:
        min_deger = liste_1[i]
    i += 1     
print(min_sayi)

4

In [16]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

max_sayi = liste_1[0]

for i in liste_1:

    if max_sayi < i:
        max_sayi = i
print(max_sayi)

91

In [31]:
dict_1 = {"name":"Hakan", "age":32, "job":"datascientist"}
dict_1

{'name': 'Hakan', 'age': 32, 'job': 'datascientist'}

In [19]:
for i in dict_1:
    print(i)

name
age
job

In [20]:
for i in dict_1.items():
    print(i)

('name', 'Hakan')
('age', 32)
('job', 'data scientist')

In [21]:
for i in dict_1.values():
    print(i)

Hakan
32
data scientist

In [24]:
for i, j in dict_1.items(): # key leri i degiskenine atar, values j degiskenine atanir
    print(f"key:{i}, values:{j}")

key:name, values:Hakan
key:age, values:32
key:job, values:data scientist

In [27]:
for i, j in dict_1.items(): 
    print(f"key:{i:<10}, values:{j}") # {i:<10} 10 bosluk birakir arada

key:name      , values:Hakan
key:age       , values:32
key:job       , values:data scientist

In [28]:
for i, j in dict_1.items():
    print(f"key:{i:>10}, values:{j}")

key:      name, values:Hakan
key:       age, values:32
key:       job, values:data scientist

In [32]:
for i, j in dict_1.items():
    print(f"key:{i:<8}, values:{j:^15}")

key:name    , values:     Hakan
key:age     , values:      32
key:job     , values: datascientist

In [33]:
"techpro".center(20)

'      techpro       '

In [35]:
"techpro".ljust(20)

'techpro             '

In [36]:
"techpro".rjust(20)

'             techpro'

In [ ]:
# sonsuza gider

liste_2 = ["sonsuza gider mi"]

for i in liste_2:
    print(i)
    liste_2.append("sonsuza gider mi")

1 den 50 ye kadar(50 dahil) sayilarin toplamini bulan kodu ya

In [40]:
sayi = 0

for i in range(1, 51):
    sayi += i
print(sayi)

1275

In [46]:
total_sum_while_loop = 0
number = 1

while number <= 50:
    total_sum_while_loop += number
    number += 1

In [47]:
sum([1,2,3,4,5])

15

In [51]:
sum(range(1,51))

1274

1 den 50 ye kadar(50 dahil) cift sayilarin toplamini bulan kodu ya

In [60]:
sayi = 0

for i in range(1, 51):
    
    if i % 2 ==0:
        sayi += i
    
print(sayi)

650

## break, continue

In [61]:
liste_3 = [1,2,3,4,5]
liste_3

[1, 2, 3, 4, 5]

In [62]:
# 3 ve 3 un kati olan sayiya denk geldiginde dongu bitsin, diger durumda sayilarin karesini gosterin

for i in liste_3:
    
    if i % 3 == 0:
        break
    
    print(i ** 2)

1
4

In [63]:
# 3 ve 3 un kati olan sayiya denk geldiginde dongu islem yapmadan devam etsin,diger durumda sayilarin karesini gosterin

for i in liste_3:
    
    if i % 3 == 0:
        continue
    
    print(i ** 2)

1
4
16
25

1 den 50 ye kadar(50 dahil) cift sayilarin toplamini continue kullanarak yazin

In [64]:
sayi = 0

for i in range(1, 51):
    
    if i % 2 == 0:
        continue
    sayi += i
print(sayi)

625

## zip()

In [66]:
a= ["apple","orange","lemon"]
b = [1,2,3]

In [67]:
zip(a,b)

In [68]:
list(zip(a,b)) #ayni index degerindekileri bir biri ile eslestirdi

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [70]:
tuple(zip(b,a))

((1, 'apple'), (2, 'orange'), (3, 'lemon'))

In [71]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [73]:
set(zip(a,b))

{('apple', 1), ('lemon', 3), ('orange', 2)}

In [74]:
x = "techpro"
y = "Yasin"
z = "Ali"

In [75]:
list(zip(x,y,z)) # eleman sayisi ayni degilse en kucuk olani referans alir

[('t', 'Y', 'A'), ('e', 'a', 'l'), ('c', 's', 'i')]

In [76]:
name = ["Ferdi","Ali","Dilay"]
age = [35,34,12]
job = ["data scientist","data analyst","pyhton developer"]

In [77]:
list(zip(name, age, job))

[('Ferdi', 35, 'data scientist'),
 ('Ali', 34, 'data analyst'),
 ('Dilay', 12, 'pyhton developer')]

In [78]:
meyveler = ["apple","orange","apple"]
adet = [1,2,3,]

In [79]:
dict(zip(meyveler, adet))

{'apple': 3, 'orange': 2}

In [80]:
list(zip(name, age, job))

[('Ferdi', 35, 'data scientist'),
 ('Ali', 34, 'data analyst'),
 ('Dilay', 12, 'pyhton developer')]

In [83]:
for i, j, k in zip(name,age,job):
    print(f"name:{i:<6}, age:{j:<3}, job:{k:<15}")

name:Ferdi , age:35 , job:data scientist
name:Ali   , age:34 , job:data analyst
name:Dilay , age:12 , job:pyhton developer